<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon"
          type="image/ico"
          href="~/img/favicon.ico">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    <script src="//api.backendless.com/sdk/js/latest/backendless.js"></script>
    <script src="~/js/JSWrapper.js"></script>
    <script src="~/js/Controller.js"></script>
    @*<script src="~/js/backendless.d.js"></script>*@
    <script src="~/js/Input.js"></script>
    <script src="~/js/UIDrawer.js"></script>
    <script src="~/js/Model.js"></script>
    <script src="~/js/Network.js"></script>
    <script src="~/js/Encription.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
